@font-face {
	font-family: 'GothamPro-Medium';
	src: local('GothamPro'),
		url('../font/GothamPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-Bold';
	src: local('GothamPro'),
		url('../font/GothamPro-Bold.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}



@font-face {
	font-family: 'GothamPro-Light';
	src: local('GothamPro'),
		url('../font/GothamPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

